@model MathOperation

    
<form class="form-horizontal" asp-controller="Math" asp-action="ShowCalculationResults" method="post">

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="LeftOperand">Left Operand</label>  
  <div class="col-md-4">
  <input id="LeftOperand" asp-for="@Model.LeftOperand" name="LeftOperand" type="text" placeholder="Number" class="form-control input-md">
  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Operator">Operator</label>  
  <div class="col-md-4">
  <input id="Operator" asp-for="@Model.Operator" name="Operator" type="text" placeholder="+,-,*,/" class="form-control input-md">
    <div class="col-md-4"> </div>
    <br/>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Right Operand">RightOperand</label>  
  <div class="col-md-4">
  <input id="RightOperand" asp-for="@Model.RightOperand" name="RightOperand" type="text" placeholder="Number" class="form-control input-md">
   
  </div>
</div>
<br/>
<br/>
<input type="submit" value="Submit">
</fieldset>
</form>



